<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body class="w-full">
    <%- include('../ejsComponents/headerComponent.ejs'); -%>
    
    <div class="w-full border p-4 flex flex-col" id="reportList">
       Lista de reportes
    </div>

    <%- include('../ejsComponents/notificationComponent.ejs'); -%>

    <script>
        //const socket = io();

        window.onload = function () {
            console.log("entras a reportes")
           
            socket.on('report_completed', (mensaje) => {
        
                mensaje = JSON.parse(mensaje);
                
                const reportList = document.getElementById("reportList");
                reportList.innerHTML = reportList.innerHTML + `<div>
                    reporte: ${mensaje.id}
                </div>`;

                //TODO: aqui iría la peticion refresh de lista
                
            });
       }
    </script>

</body>
</html>
