<header class="mb-12 py-4 px-2 ">
    <h1>Welcome to the Dashboard</h1>
    <!-- p>Hello, <= user.username >!</p -->
    <a href="/dashboard" class="underline text-blue cursor-pointer">Dashboard</a>
    <a href="/logout" class="underline text-blue cursor-pointer">Logout</a>
    <a href="/dashboard/reports" class="underline text-blue cursor-pointer">Reportes</a>
</header>